version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app_3000
    restart: always
    ports:
      - "3000:3000"
    env_file: .env
    command: ["node", "app.js"]
    depends_on:
      db:
        condition: service_healthy

  app2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app_4000
    restart: always
    ports:
      - "4000:4000"
    env_file: .env
    command: ["node", "app.js"]
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Ancasa0719
      MYSQL_DATABASE: tienda
      MYSQL_PASSWORD: Ancasa0719
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10

volumes:
  db_data:
