extends /layout/layout

block content
 .container.mt-5
      .row.justify-content-center
        .col-md-6
          .card
            .card-header
              h3.text-center Crea un nuevo producto
            include ../partials/alerts
            .card-body
              form(action="/crear", method="POST")
                .mb-3 
                  label(for="nombre").form-label Nombre 
                  input(type="text", name="nombre", id="nombre", class="form-control")
                .mb-3
                  label(for="descripcion").form-label Descripcion
                  input(type="text", id="descripcion", name="descripcion" ).form-control
                .mb-3
                  label(for="precio").form-label Precio
                  input(type="text", id="precio", name="precio").form-control
                .mb-3 
                  label(for="nombre").form-label Imagen 
                  input(type="text", name="imagen", id="Imagen", class="form-control")
                .d-grid
                  button(type="submit", href="/").btn.btn-primary Crear