extends /layout/layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card.shadow-lg.rounded-4
          .card-header.bg-info.text-white.text-center.py-3.rounded-top
            h3.mb-0 Actualiza tu cuenta
          include ../partials/alerts
          .card-body.px-4.py-4
            form(action="", method="POST")
              input(type="hidden", name="_method", value="PUT")
              .mb-3 
                label(for="nombre").form-label Nombre de usuario
                input(type="text", name="nombre", id="nombre", class="form-control form-control-lg", value= customer ? customer.nombre : '', placeholder="Ingrese su nombre de usuario")
              .mb-3
                label(for="email").form-label Correo Electrónico
                input(type="text", id="email", name="email", class="form-control form-control-lg", value= customer ? customer.email : '', placeholder="Ingrese su correo electrónico")
              .mb-3
                label(for="password").form-label Contraseña
                input(type="password", id="password", name="password", class="form-control form-control-lg", value= customer ? customer.password : '', placeholder="Ingrese su nueva contraseña")
              .mb-3
                label(for="direccion").form-label Dirección
                input(type="text", id="direccion", name="direccion", class="form-control form-control-lg", value= customer ? customer.direccion : '', placeholder="Ingrese su dirección")
              .d-grid.mt-4
                button(type="submit").btn.btn-lg.btn-info.text-white.fw-bold Actualizar
