extends /layout/layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card.shadow-lg.rounded-4
          .card-header.bg-warning.text-white.text-center.py-3.rounded-top
            h3.mb-0 Actualizar #{producto.nombre}
          include ../partials/alerts
          .card-body.px-4.py-4
            form(action=`/actualizar/${producto.id}`, method="POST")
              .mb-3 
                label(for="nombre").form-label Nombre 
                input(type="text", name="nombre", id="nombre", class="form-control form-control-lg", value= producto ? producto.nombre : '', placeholder="Ingrese el nombre del producto")
              .mb-3
                label(for="descripcion").form-label Descripción
                input(type="text", id="descripcion", name="descripcion", class="form-control form-control-lg", value= producto ? producto.descripcion : '', placeholder="Ingrese la descripción")
              .mb-3
                label(for="precio").form-label Precio
                input(type="text", id="precio", name="precio", class="form-control form-control-lg", value= producto ? producto.precio : '', placeholder="Ingrese el precio")
              .mb-3 
                label(for="imagen").form-label Imagen 
                input(type="text", name="imagen", id="imagen", class="form-control form-control-lg", value= producto ? producto.imagen : '', placeholder="URL de la imagen")
              .d-grid.mt-4
                button(type="submit").btn.btn-lg.btn-warning.text-white.fw-bold Actualizar
