doctype html
html
  head
    title= title
    link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/icons/bootstrap-icons.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    // NAVBAR WOW 🚀
    nav.navbar.navbar-expand-lg.bg-primary.shadow-lg
      .container-fluid
        a.navbar-brand.text-white.fw-bold(href="/") 
          i.bi.bi-shop 
          | MiTienda
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.mx-auto.gap-3
            li.nav-item
              a.nav-link.text-white.fw-semibold(href="/") 
                i.bi.bi-box-seam 
                | Ver Productos
            li.nav-item
              a.nav-link.text-white.fw-semibold(href="/crear") 
                i.bi.bi-plus-circle 
                | Crear Producto
          .d-flex
            a.btn.btn-warning.text-dark.fw-bold.ms-3(href="/nuevoUsuario") 
              i.bi.bi-person-circle 
              | Login

    // CONTENIDO
    .container.mt-4
      block content

    // FOOTER 
    footer.bg-dark.text-light.text-center.mt-5.p-3
      .container
        p.mb-1 &copy; 2025 MiTienda. Todos los derechos reservados.
        .d-flex.justify-content-center.gap-3
          a.text-warning.fw-semibold(href="/") Inicio
          a.text-warning.fw-semibold(href="/productos") Productos
          a.text-warning.fw-semibold(href="/contacto") Contacto
